<nav class="footer-menu" id="footer-menu">
  <ul>
    <li>
      <a href="mailto:contact@haml2erb.org?subject=haml2erb%20service">
        Get in touch
      </a>
    </li>
    <li>
      <a href="https://www.digitalocean.com/?refcode=7807a0beaf31">
        Fast SSD servers
      </a>
    </li>
  </ul>
</nav>
