<nav class="menu" id="top-menu">
  <ul>
    <li>
      <%= link_to_unless_current 'Converter', '/' %>
    </li>
    <li>
      <%= link_to_unless_current 'API Reference', '/api-reference' %>
    </li>
  </ul>
</nav>
